In [1]:
import pandas as pd

In [8]:
df=pd.read_csv("sine_data.txt",delimiter=",",names=["volt","ms"])

In [9]:
cutoff=50
RC=1/(2*3.1416*cutoff);
df["alpha"]=(df["ms"]*1000000)/(RC+(df["ms"]*1000000))

In [10]:
df

        volt  ms  alpha
0    1.23619  51    1.0
1    1.23619  51    1.0
2    1.23780  48    1.0
3    1.23458  51    1.0
4    1.33934  50    1.0
..       ...  ..    ...
758  0.44725  50    1.0
759  0.44645  51    1.0
760  0.44564  50    1.0
761  0.44403  50    1.0
762  0.52059  50    1.0

[763 rows x 3 columns]